body {
  background-color: yellow; }
  body h1 {
    text-align: center;
    font-size: 3em; }
  body .container_page {
    display: flex;
    justify-content: center;
    align-items: center; }
  body .container_chess {
    height: 500px;
    width: 500px; }
    body .container_chess #board_container {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 1fr);
      grid-gap: 2px;
      padding: 0;
      margin: 2em 0 0 0;
      height: 100%;
      width: 100%;
      opacity: 0.5; }
      body .container_chess #board_container .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
        color: white; }
        body .container_chess #board_container .cell:hover {
          background-color: red; }

img.item {
  position: relative;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer; }
  img.item.select {
    background-color: red; }
