body {
  background-color: yellow; }
  body h1 {
    text-align: center;
    font-size: 3em; }
  body .container_page {
    display: flex;
    justify-content: center;
    align-items: center; }
  body .container_chess {
    height: 400px;
    width: 400px; }
    body .container_chess #board_container {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 1fr);
      grid-gap: 2px;
      padding: 0;
      margin: 2em 0 0 0;
      height: 100%;
      width: 100%; }
      body .container_chess #board_container .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
        color: white; }
        body .container_chess #board_container .cell.select {
          background-color: red; }
    body .container_chess #items_container {
      position: relative;
      top: -100%;
      left: 0;
      list-style: none;
      display: grid;
      grid-gap: 2px;
      padding: 0;
      margin: 0 0 0 0;
      height: 100%;
      width: 100%;
      background-color: transparent;
      color: white; }
      body .container_chess #items_container .item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        width: 48px;
        height: 48px; }
        body .container_chess #items_container .item:hover {
          background-color: red; }
